<ion-view title="Let Us Help You!">
  <ion-nav-buttons side="right">
<!--    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
    <div class="item padding" href="#"><br>
        <h2 class="text-center">Reading Club</h2>
        <p class="text-center">We welcome your call and our agents are always available to help our customers</p><br>
      </div>
    </div>
    <div class="list">
    <div class="item" href="#">
      Current wait time for an agent:<span class="item-note">2:15</span>
    </div>
    </div>
  	<div class="list">
  	<a class="item item-icon-left" href="#">
  	    <i class="icon ion-ios7-telephone-outline"></i>
  	    <h2 class="text-center">Call Now</h2>
  	  </a>
  	  <a class="item item-icon-left" href="#">
  	      <i class="icon ion-ios7-reload"></i>
  	      <h2 class="text-center">Call Me Back</h2>
  	    </a>
  	  </div>
  	  <div class="list">
  	  <a class="item item-icon-left" href="#">
  	      <i class="icon ion-ios7-chatboxes-outline"></i>
  	      <h2 class="text-center">Live Chat with an Agent</h2>
  	    </a>
  	  </div>
  	  <div class="list">
        <a class="item item-icon-left" href="#">
            <i class="icon ion-ios7-paperplane-outline"></i>
            <h2 class="text-center">Send Us an Email</h2>
          </a>
          <a class="item item-icon-left" href="#">
              <i class="icon ion-ios7-chatbubble-outline"></i>
              <h2 class="text-center">Send SMS</h2>
            </a>
    </div>
  </ion-content>
</ion-view>
