<ion-view title='<img src="img/scholastic-logo.png" />'>
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    
  <div class="list">
  	<a class="item item-thumbnail-left item-icon-right" style="border-top: 1px solid #fff;" href="#">
  	<img src="http://grfx.cstv.com/photos/schools/semo/sports/w-softbl/auto_headshot/5770148.jpeg">
    <h2>Alora Marble</h2>
    <p><strong>School:</strong> Blair Oaks Elementary School<br>
    <strong>Grade Level:</strong> 1st</p>
    <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
  <li class="item item-toggle">
      <h2>Send Me Text Updates</h2>
      <label class="toggle toggle-balanced">
        <input type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
   </li>
   <a class="item item-icon-right" href="#">
       Teacher's Lounge
       <i class="icon ion-chevron-right icon-accessory"></i>
   </a>
   <!-- ><a class="item item-icon-left" href="#">
     <i class="icon ion-chatboxes" style="color:#35D6F3"></i>
     <h4>Notifications</h4><h2>Your Messages</h2>
     <span class="badge badge-calm">0</span>
   </a>
   <a class="item item-icon-left" href="#">
     <i class="icon ion-ios7-cart" style="color:#FBBD38"></i>
     <h4>Take Note</h4><h2>Parent Online Orders</h2>
     <span class="badge badge-energized">0</span>
   </a> -->
   <div class="item item-divider">
       Choose A Business
     </div>
     <a nav-clear class="item item-icon-right" href="#/app/reading-club">
         Reading Club
         <i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     <a class="item item-icon-right" href="#">
         Classroom & Community Resources
         <i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     <a class="item item-icon-right" href="#">
         Classroom Magazines
         <i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     <a class="item item-icon-right" href="#">
         Book Fairs
         <i class="icon ion-chevron-right icon-accessory"></i>
     </a>
     <a class="item item-icon-right" href="#">
         Education Technology
         <i class="icon ion-chevron-right icon-accessory"></i>
     </a>
    </div>
  </ion-content>
</ion-view>
