<ion-view title="Reading Club">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button icon ion-bag"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-slide-box does-continue="true" style="background:#f7f7f7;padding: 6px 0px 10px;">
      <ion-slide><img src="http://placehold.it/400x100" alt="" /></ion-slide>
      <ion-slide><img src="http://placehold.it/400x100" alt="" /></ion-slide>
      <ion-slide><img src="http://placehold.it/400x100" alt="" /></ion-slide>
      <ion-slide><img src="http://placehold.it/400x100" alt="" /></ion-slide>
      <ion-slide><img src="http://placehold.it/400x100" alt="" /></ion-slide>
      <ion-slide><img src="http://placehold.it/400x100" alt="" /></ion-slide>
      <ion-slide><img src="http://placehold.it/400x100" alt="" /></ion-slide>
      <ion-slide><img src="http://placehold.it/400x100" alt="" /></ion-slide>
    </ion-slide-box>
    <ion-list>
      <div class="button-bar">
      <a class="button icon ion-social-facebook button-positive" href="http://www.facebook.com/scholasticreadingclub" target="_blank"><!--Facebook--></a>
      <a class="button icon ion-social-twitter button-calm" href="http://www.twitter.com/scholastic" target="_blank"><!--Twitter--></a>
      <a class="button icon ion-social-tumblr button-dark" href="http://scholasticreadingclub.tumblr.com/" target="_blank"><!--Tumblr--></a>
      <a class="button icon ion-social-pinterest button-assertive" href="http://www.pinterest.com/scholastic" target="_blank"><!--Pinterest--></a>
      <a class="button icon ion-ios7-camera button-stable" href="http://instagram.com/scholasticreadingclub" target="_blank"><!--Instagram--></a>
      <a class="button icon ion-social-linkedin button-positive" href="http://www.linkedin.com/company/scholastic" target="_blank"><!--Blog--></a>
    </div>
     <a class="item item-icon-left" href="#/app/reading-club/pending">
       <i class="icon ion-clipboard"></i>
       <h4>Take Note!</h4><h2>Pending Parent Orders</h2>
       <span class="badge badge-calm">2</span>
     </a>
     <div class="item item-icon-left" href="#">
       <i class="icon ion-ios7-download-outline"></i><span class="item-note">240</span>
       <h4>Your Bonus Points</h4><h2>Bonus Point Bank!</h2>
     </div>
     <a class="item item-icon-left" href="#/app/reading-club/manage-orders">
       <i class="icon ion-edit"></i>
       <h4>See Status & View All</h4><h2>Manage Your Orders</h2>
     </a>
     <a class="item item-icon-left" href="#">
       <i class="icon ion-speakerphone"></i>
       <h4>Latest Offers</h4><h2>Promotions Just for You!</h2>
     </a>
     <a class="item item-icon-left" href="#/app/reading-club/wishlist">
       <i class="icon ion-heart"></i>
       <h4>Review Your Favorites</h4><h2>Your Class Wish List</h2>
     </a>
     <div class="item item-icon-left" href="#">
       <i class="icon ion-ios7-bookmarks"></i>
       <h4>Bright Shining Faces</h4><h2>Your Classroom Roster</h2>
     </div>
     <a class="item item-icon-left" href="#/app/reading-club/club-faqs">
       <i class="icon ion-help-circled"></i>
       <h4>Answers You Need</h4><h2>FAQs for Teachers</h2>
     </a>
     <a class="item item-icon-left" href="#/app/reading-club/club-contact">
       <i class="icon ion-ios7-telephone"></i>
       <h4>We're Here to Help</h4><h2>Contact Us</h2>
     </a>
     </ion-list>
  </ion-content>
</ion-view>
