<ion-view title="Review Your Order">
  <ion-nav-buttons side="right">
<!--    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
<button class="button">Edit</button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
    <div class="item item-divider">
        Your Catalog Orders
      </div>
        <a class="item" href="#">
          <h2>Arrow 5th Graders May</h2>
          <span class="item-note">$32.00</span>
          <p>Number of Items: <strong>3</strong><br>
          Points Redeemed: <strong>0</strong></p>
        </a>
        <a class="item" href="#">
          <h2>Arrow & Tab Middle Schoolers May</h2>
          <span class="item-note">$18.00</span>
          <p>Number of Items: <strong>2</strong><br>
          Points Redeemed: <strong>0</strong></p>
        </a>
        <div class="item item-divider">
            Parent Orders
          </div>
            <a class="item" href="#">
              <h2>Snappy Jen</h2>
              <span class="item-note">($4.00)</span>
              <p>Number of Items: <strong>1</strong><br>
              Paid Online: <strong>YES</strong></p>
            </a>
            <a class="item" href="#">Shipping<span class="item-note">$0.00</span></a>
            <a class="item" href="#">Amount Due<span class="item-note">$50.00</span></a>
            <a class="item" href="#">Points Earned!<span class="item-note">270</span></a>
    </div>
	<a nav-clear class="button button-full button-stable" href="#/app/reading-club">
	  Proceed to Checkout
	</a>
  </ion-content>
</ion-view>
