<ion-view title="Class Wish List">
  <ion-nav-buttons side="right">
<!--    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
<button class="button">Edit</button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
    <div class="item item-divider">
        Arrow 5th Graders June
      </div>
        <div class="item item-thumbnail-left item-button-right">
          <img src="http://shop.scholastic.com/content/stores/media/products/80/9780545220880_lg.jpg">
          <h2>Magic School Lost in Space</h2>
          <p>Quantity Requested: <strong>22</strong><br>
          Item #: <strong>NTS538179</strong></p>
        </div>
        <a class="item item-thumbnail-left" href="#">
          <img src="http://shop.scholastic.com/content/stores/media/products/79/9780590409179_lg.jpg">
          <h2>The Phantom Tollbooth</h2>
			<p>Quantity Requested: <strong>1</strong><br>
			Item #: <strong>NTS40917</strong></p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="http://shop.scholastic.com/content/stores/media/products/25/9780439120425_lg.jpg">
          <h2>Esperanza Rising</h2>
			<p>Quantity Requested: <strong>36</strong><br>
			Item #: <strong>NTS912042</strong></p>
        </a>
<div class="item item-divider">
    Arrow: More Choices for Elementary Grades
  </div>
  <a class="item item-thumbnail-left" href="#">
    <img src="http://shop.scholastic.com/content/stores/media/products/96/9780545381796_lg.jpg">
    <h2>Game Changers</h2>
		<p>Quantity Requested: <strong>14</strong><br>
		Item #: <strong>NTS538179</strong></p>
  </a>
    </div>
  </ion-content>
</ion-view>
