/* Empty. Add your own CSS if you like */

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

h1 {
	font-size: 18px !important;
}

h4 {
	color: #4D4D4D;
	margin-bottom: 0px !important;
}

.wide-as-needed {
  white-space: nowrap;
  /*  overflow-x: scroll; /*
  /*  -webkit-overflow-scrolling: touch;  */
}
.scroll { 
  min-width: 100%;
}

.item-note {
	font-size: 18px;
	color: black;
}

.triangles {
	background: url(../img/triangles.png);
	height: 15px;
	margin-bottom: 10px;
}

.scroll-content {
	background: #F2F0EC;
}

.bar-assertive {
	background: #F2F0EC url(../img/triangles.png) !important;
	border: none !important;
}

.slider-slide {
	background: #F2F0EC;
	padding: 0px;
	margin: 0px;
}